<div class="spinner-border text-success" role="status" *ngIf="loader">
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errMessage">
    {{errMessage}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container mt-5" *ngIf="cart.length==0">
    <p class="text-danger text-center">No Products are added Please Add Products To Cart</p>
</div>

<div class="container mt-5 mb-5" *ngIf="cart.length!=0">
    <table class="table table-dark table-hover">
        <thead>
            <tr class="text-info">
                <th scope="col">Item No</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cartItem of cart; let index=index">
                <th scope="row" class="text-secondary">{{index+1}}</th>
                <td>{{cartItem.product.name}}</td>
                <td class="text-secondary">{{cartItem.product.price}} <span class="text-success">Rs</span></td>
                <td class="text-warning">{{cartItem.count}}</td>
                <td class="text-danger">
                    <svg appMouseHover (click)="deleteProductInCart(cartItem._id)" xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        Total Cost is <span class="text-danger">{{0 | totalCost:cart}}</span> Rs
    </div>
    <div class="text-center mt-2">
        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Place Order</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please Enter Address Details and Place Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-text">Enter Address</span>
                    <textarea class="form-control" aria-label="With textarea" [(ngModel)]="address"></textarea>
                </div>
            </div>
            <div class="text-center my-2">
                <button type="button" class="btn btn-danger" (click)="placeOrder()">Place Order</button>
                <!-- data-bs-dismiss="modal" -->
            </div>

        </div>
    </div>
</div>